<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        iframe {
            width: 70vw; /* You can adjust the width as needed */
            height: 70vh; /* You can adjust the height as needed */
        }
    </style>
</head>
<body>
    <iframe src='https://webchat.botframework.com/embed/healthbot-bmejown?s=vGrg-oB_5Qs.PQ3gH-sYYPhaGWiA1OZ3Gdeg7UQiuskShqSAN33Z6oE'></iframe>
</body>
</html>
